body {
  background: url(https://ssl.gstatic.com/bfe/images/dashboard/tasklist-l.png) no-repeat left top,
    url(https://ssl.gstatic.com/bfe/images/dashboard/tasklist-r.png) no-repeat right top;
  background-size: 40vh;
  background-repeat: no-repeat;
}
.block p {
  margin-bottom: 5px;
}
button {
  cursor: pointer;
}
.my-component {
  border: 2px solid #555;
  padding: 10px;
  margin-bottom: 10px;
}
.container-app2 .my-component {
  border: 2px solid #c00;
  background-color: aliceblue;
}